* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  padding: 1.5rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .hero-text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero-text .text {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}
main .hero-text .text p {
  text-transform: uppercase;
}
main .hero-img-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .hero-img-txt .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .hero-img-txt .top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero-img-txt .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
main .hero-img-txt .bottom h1 {
  font-size: 2.78em;
  font-weight: 370;
  line-height: 1;
  text-transform: uppercase;
}
main .hero-img-txt .bottom p {
  font-size: 1.45em;
  font-weight: 370;
  font-family: monospace;
  line-height: 1.5;
  opacity: 0.9;
}
main .hero-img-txt .bottom .services {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .hero-img-txt .bottom .services .service {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .hero-img-txt .bottom .services .service p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.78em;
  font-weight: 400;
}
main .verticle-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .verticle-text .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .verticle-text .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .verticle-text .bottom {
  display: flex;
  gap: 2em;
}
main .verticle-text .bottom p {
  writing-mode: vertical-lr;
  font-weight: 400;
  font-size: 0.8em;
  padding-top: 0.5em;
}
main .verticle-text .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .verticle-text .bottom .text h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 370;
  line-height: 1;
}
main .verticle-text .bottom .text p {
  writing-mode: initial;
  font-size: 1.42em;
  font-weight: 370;
  font-family: monospace;
  opacity: 0.5;
  line-height: 1.5;
  padding-top: 0;
}
main .ourServices {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  gap: 2em;
}
main .ourServices .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .ourServices .top h1 {
  font-size: 2.78em;
  font-weight: 370;
  text-transform: uppercase;
}
main .ourServices .top .service-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .ourServices .top .service-container .service-Card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
main .ourServices .top .service-container .service-Card .heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  opacity: 1;
  text-transform: uppercase;
}
main .ourServices .top .service-container .service-Card p {
  font-size: 1.39em;
  font-weight: 370;
  font-family: monospace;
  opacity: 0.4;
  line-height: 1.5;
  padding-top: 0;
}
main .ourServices .top .service-container .service-Card .arrow-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em 0;
  gap: 1em;
}
main .ourServices .top .service-container .service-Card .arrow-container .arrow {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
}
main .ourServices .top .service-container .service-Card .arrow-container p {
  opacity: 1;
  font-size: 1.2em;
  text-transform: uppercase;
}
main .ourServices .bottom {
  width: 100%;
  aspect-ratio: 1/1;
}
main .ourServices .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .selected-work {
  margin-top: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .selected-work hr {
  padding: 0;
}
main .selected-work img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .selected-work .work-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .selected-work .work-container .azure-img {
  width: 100%;
  aspect-ratio: 1/1;
}
main .selected-work .work-container .azure-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .selected-work .work-container .azure-2 {
  display: none;
}
main .selected-work .work-container .azure-container {
  display: flex;
  flex-direction: column;
}
main .selected-work .work-container .azure-container .azure-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
main .selected-work .work-container .azure-container .azure-text .head-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 1;
}
main .selected-work .work-container .azure-container .azure-text p {
  font-size: 1.39em;
  font-weight: 370;
  font-family: monospace;
  opacity: 0.9;
}
main .selected-work .work-container .azure-container .arrow-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em 0;
  gap: 1em;
}
main .selected-work .work-container .azure-container .arrow-container .arrow {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
}
main .selected-work .work-container .azure-container .arrow-container p {
  opacity: 1;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: monospace;
}
main .selected-work .work-container .sage-img {
  width: 100%;
  aspect-ratio: 1/1;
}
main .selected-work .work-container .sage-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .selected-work .work-container .sage-2 {
  display: none;
}
main .selected-work .work-container .sage-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .selected-work .work-container .sage-container .sage-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
main .selected-work .work-container .sage-container .sage-text .head-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 1;
}
main .selected-work .work-container .sage-container .sage-text p {
  font-size: 1.39em;
  font-weight: 370;
  font-family: monospace;
  opacity: 0.9;
}
main .selected-work .work-container .sage-container .arrow-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em 0;
  gap: 1em;
}
main .selected-work .work-container .sage-container .arrow-container .arrow {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
}
main .selected-work .work-container .sage-container .arrow-container p {
  opacity: 1;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: monospace;
}
main .clients {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .clients img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .clients .clients-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 2.5em;
}
main .clients .clients-container .current-client-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
main .clients .clients-container .current-client-box .client-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
main .clients .clients-container .current-client-box .client-name p:first-child {
  opacity: 0.8;
  font-size: 1.19em;
  text-transform: uppercase;
  font-family: monospace;
  padding-bottom: 0;
}
main .clients .clients-container .current-client-box .client-name p:last-child {
  font-size: 2.7em;
  font-weight: 100 !important;
  font-family: monospace;
  padding-bottom: 0;
}
main .clients .clients-container .current-client-box p {
  opacity: 0.8;
  font-size: 1.19em;
  text-transform: uppercase;
  font-family: monospace;
  padding-bottom: 0.7em;
}
main .clients .clients-container .current-client-box hr {
  opacity: 0.8;
}
main .team {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 3em;
}
main .team .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .team .top h1 {
  font-size: 2.78em;
  font-weight: 370;
  text-transform: uppercase;
}
main .team .top p {
  font-size: 1.39em;
  font-weight: 370;
  font-family: monospace;
  opacity: 0.7;
  line-height: 1.5;
}
main .team .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}
main .team .bottom .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .team .bottom .card .name {
  text-transform: uppercase;
  font-size: 1.6em;
}
main .team .bottom .card .profile-img {
  width: 100%;
  aspect-ratio: 2/3;
}
main .team .bottom .card .profile-img img {
  width: 100%;
  height: 100%;
}
main .team .bottom .card .bar p {
  text-transform: uppercase;
  font-size: 0.9em;
}
main .team .bottom .card .description {
  font-size: 1.3em;
  font-weight: 370;
  font-family: monospace;
  opacity: 0.5;
  line-height: 1.5;
}
main .join-the-team {
  width: 100%;
}
main .join-the-team .joinTeam {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .join-the-team .joinTeam p {
  font-size: 1.29em;
  font-weight: 370;
  font-family: monospace;
  opacity: 0.9;
}
main .join-the-team .joinTeam h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 370;
  line-height: 1.1;
}
main .join-the-team .joinTeam .arrow-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em 0 4em 0;
  gap: 1em;
}
main .join-the-team .joinTeam .arrow {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 50%;
}

.lets-create {
  background-color: #111;
}
.lets-create .create {
  padding: 5em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.lets-create .create img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.lets-create .create h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 350;
  text-align: center;
  line-height: 1;
}
.lets-create .create button {
  width: 40%;
  text-transform: uppercase;
  padding: 1em 1em;
  text-wrap: nowrap;
  border-radius: 50px;
  border: none;
}

.line {
  background-color: #111;
  opacity: 0.9;
  width: 100%;
  height: 1px;
}

.footer {
  padding: 3em 1.5rem;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer .first {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer .first h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4em;
}
.footer .first .footer-bottom {
  font-size: 1.17em;
  font-weight: 250;
  font-family: monospace;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer .second {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer .second h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3em;
}
.footer .second .footer-bottom {
  font-size: 1.17em;
  font-weight: 250;
  font-family: monospace;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer .third {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer .third h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3em;
}
.footer .third .footer-bottom {
  font-size: 1.17em;
  font-weight: 250;
  font-family: monospace;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

@media (min-width: 900px) {
  main {
    padding: 4rem;
    gap: 4rem;
  }
  main .hero-img-txt {
    flex-direction: row-reverse;
    gap: 4em;
  }
  main .hero-img-txt .bottom h1 {
    font-size: 5em;
    letter-spacing: 0.04em;
  }
  main .hero-img-txt .bottom p {
    font-size: 1.9em;
    margin-bottom: 2em;
  }
  main .hero-img-txt .bottom .services {
    margin-top: auto;
  }
  main .hero-img-txt .bottom .services .service p {
    font-size: 2em;
    margin-bottom: 0;
  }
  main .verticle-text {
    flex-direction: row;
    gap: 4em;
  }
  main .verticle-text .top {
    width: 31%;
  }
  main .verticle-text .bottom {
    width: 69%;
    flex-direction: row-reverse;
  }
  main .verticle-text .bottom .text {
    height: 100%;
  }
  main .verticle-text .bottom .text h1 {
    font-size: 6em;
  }
  main .verticle-text .bottom .text p {
    margin-top: auto;
    width: 70%;
  }
  main .ourServices {
    margin-top: 3em;
    flex-direction: row;
    padding-top: 0;
    gap: 4em;
  }
  main .ourServices .top h1 {
    font-size: 6em;
    padding: 0 1em 0.4em 0;
    line-height: 1;
  }
  main .ourServices .top .service-container {
    display: grid;
    grid-gap: 4em;
    justify-items: center;
    width: 100%;
    padding-bottom: 2em;
    grid-template-areas: "a  b" "c  d";
  }
  main .ourServices .top .service-container .service-Card hr {
    opacity: 0.5;
  }
  main .ourServices .top .service-container .service-Card .heading {
    font-size: 1.6em;
  }
  main .ourServices .top .service-container .service-Card p {
    font-size: 1.3em;
  }
  main .ourServices .top .service-container .service-Card .arrow-container {
    padding: 0.7em 0;
  }
  main .ourServices .top .service-container .service-Card .arrow-container p {
    font-size: 1.1em;
  }
  main .ourServices .top .card-a {
    grid-area: a;
  }
  main .ourServices .top .card-b {
    grid-area: b;
  }
  main .ourServices .top .card-c {
    grid-area: c;
  }
  main .ourServices .top .card-d {
    grid-area: d;
  }
  main .selected-work {
    gap: 4em;
  }
  main .selected-work hr {
    padding: 0 !important;
    margin: 0 !important;
  }
  main .selected-work .work-container {
    display: grid;
    gap: 2em;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    /* Create three equal-width columns */
    grid-template-areas: "a b c" "f d e";
  }
  main .selected-work .work-container .azure-2,
  main .selected-work .work-container .sage-2 {
    display: block;
    width: 100%;
    height: auto;
  }
  main .selected-work .work-container .azure-img,
  main .selected-work .work-container .sage-img {
    width: 100%;
    height: auto;
  }
  main .selected-work .work-container .azure-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3em 2em;
  }
  main .selected-work .work-container .azure-container .azure-text .head-text {
    font-size: 5em;
    font-weight: 375;
    opacity: 1;
  }
  main .selected-work .work-container .azure-container .azure-text p {
    opacity: 0.75;
  }
  main .selected-work .work-container .sage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3em 3em;
  }
  main .selected-work .work-container .sage-container .sage-text .head-text {
    font-size: 5em;
    font-weight: 375;
    opacity: 1;
  }
  main .selected-work .work-container .sage-container .sage-text p {
    opacity: 0.75;
  }
  main .selected-work .azure-1 {
    grid-area: a;
  }
  main .selected-work .azure-2 {
    grid-area: b;
  }
  main .selected-work .azure-3 {
    grid-area: c;
  }
  main .selected-work .sage-1 {
    grid-area: d;
  }
  main .selected-work .sage-2 {
    grid-area: e;
  }
  main .selected-work .sage-3 {
    grid-area: f;
  }
  main .clients {
    align-items: flex-end;
    gap: 4em;
  }
  main .clients hr {
    opacity: 0.5;
  }
  main .clients img {
    width: 32%;
  }
  main .clients .clients-container {
    width: 66%;
  }
  main .clients .clients-container .current-client-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main .clients .clients-container .current-client-box .client-name {
    flex-direction: row;
    align-items: center;
    gap: 3em;
  }
  main .team {
    gap: 4em;
    padding-bottom: 2em;
  }
  main .team hr {
    padding: 0px !important;
    margin: 0px !important;
  }
  main .team .top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main .team .top h1 {
    font-size: 9em;
  }
  main .team .top p {
    width: 48%;
    opacity: 1;
    font-size: 1.5em;
  }
  main .team .bottom {
    flex-direction: row;
    gap: 4em;
  }
  main .join-the-team {
    width: 100%;
    display: flex;
    gap: 2em;
  }
  main .join-the-team .space-div {
    width: 52%;
  }
  main .join-the-team .joinTeam {
    width: 50%;
  }
  main .join-the-team .joinTeam hr {
    opacity: 0.4;
  }
  main .join-the-team .joinTeam p {
    opacity: 0.75;
  }
  main .join-the-team .joinTeam h2 {
    font-size: 4.3em;
    font-weight: 350;
  }
  .lets-create {
    padding: 4rem;
    width: 100wh;
    height: 92vh;
  }
  .lets-create .create {
    gap: 3em;
  }
  .lets-create .create h2 {
    font-size: 4em;
    line-height: 1.2;
    width: 65%;
  }
  .lets-create .create button {
    padding: 0.8em 0.8em;
    width: 11%;
  }
  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4em;
  }
}/*# sourceMappingURL=style.css.map */